@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: #c9b8a7;
  background-color: #8d5f37;
}

#root {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#root > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.text p {
  line-height: 1.5;
}
.text p:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}

.spinner {
  min-height: 100svh;
  background-color: #8d5f37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.button {
  padding: 0.875rem 1.75rem;
  border-radius: 0.8125rem;
  -webkit-box-shadow: 6px 6px 12px rgba(85, 65, 50, 0.38), -6px -6px 12px rgba(245, 235, 220, 0.05), inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(255, 255, 255, 0);
          box-shadow: 6px 6px 12px rgba(85, 65, 50, 0.38), -6px -6px 12px rgba(245, 235, 220, 0.05), inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(255, 255, 255, 0);
  -webkit-transition: color 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: color 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, -webkit-box-shadow 0.5s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .button:hover {
    opacity: 0.75;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(85, 65, 50, 0.38), inset -6px -6px 12px rgba(245, 235, 220, 0.05);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(85, 65, 50, 0.38), inset -6px -6px 12px rgba(245, 235, 220, 0.05);
    -webkit-transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
    transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease;
    transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  }
}
.button:focus {
  outline: 1px solid #ffdfbf;
  outline-offset: 2px;
  opacity: 0.75;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(85, 65, 50, 0.38), inset -6px -6px 12px rgba(245, 235, 220, 0.05);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(85, 65, 50, 0.38), inset -6px -6px 12px rgba(245, 235, 220, 0.05);
  -webkit-transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
}

.product {
  padding-block: 150px;
}
.product__back-link {
  font-weight: 700;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.product__back-link:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
@media (any-hover: hover), (pointer: fine) {
  .product__back-link:hover {
    color: #ffdfbf;
  }
}
.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}
.product__image img {
  -webkit-filter: drop-shadow(1px 1px 15px #ffdfbf);
          filter: drop-shadow(1px 1px 15px #ffdfbf);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__info {
  align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  display: grid;
  gap: 0.9375rem;
}
.product__title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffdfbf;
}
.product__description {
  font-size: 1rem;
  line-height: 1.6;
}
.product__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
.product__price-box .product__price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffdfbf;
}
.product__price-box .product__discount {
  color: #ac2c2c;
  background-color: #e1b1b1;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
}
.product__rating {
  color: #93610f;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
@media (min-width: 31.2488em) {
  .header {
    padding: 15px;
  }
}
.header__container {
  position: relative;
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: rgba(245, 239, 230, 0.4549019608);
  z-index: 3;
}
@media (min-width: 31.2488em) {
  .header__container {
    overflow: hidden;
    border-radius: 50px;
  }
}
.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: -1;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffdfbf;
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 47.9988em) {
  .header__logo span {
    display: none;
  }
}
.header__logo span {
  font-size: 20px;
  text-transform: uppercase;
}
.header__logo img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 50px;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__link {
  color: #ffdfbf;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.menu__link.active {
  color: #fff;
  text-decoration: underline;
}
@media (any-hover: hover), (pointer: fine) {
  .menu__link:hover {
    color: #fff;
  }
}

.hero {
  padding-block: 6.25rem;
  position: relative;
  min-height: 100svh;
  place-content: center;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7058823529);
}
.hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  position: relative;
  z-index: 5;
  text-align: center;
  line-height: 1.3;
}
.hero__title {
  font-size: 56px;
  color: #fff;
}
.hero__title:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.hero__label {
  font-size: 1.5rem;
  font-style: oblique;
  color: #ffdfbf;
}

.about {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
}
.reverse-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.875rem;
}
@media (max-width: 47.9988em) {
  .reverse-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.reverse-block__image {
  margin-inline: -0.9375rem;
}
@media (min-width: 47.9988em) {
  .reverse-block__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 12.5rem;
            flex: 1 0 12.5rem;
    aspect-ratio: 1/1.5;
    margin-inline: 0rem;
  }
}
.reverse-block__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reverse-block__content {
  align-self: center;
  display: grid;
  row-gap: 15px;
}
@media (min-width: 47.9988em) {
  .reverse-block__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 31.25rem;
            flex: 1 0 31.25rem;
  }
}
.services {
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
@media (min-width: 47.9988em) {
  .services .reverse-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.content-services__list {
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 31.2488em) {
  .content-services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 31.2488em) {
  .content-services__item {
    grid-template-columns: 1fr;
    -webkit-padding-after: 20px;
            padding-block-end: 20px;
    -webkit-border-after: 1px solid #d9cfc3;
            border-block-end: 1px solid #d9cfc3;
  }
}
.content-services__item h3 {
  font-weight: 700;
}
.content-services__item h3:not(:last-child) {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}

.products {
  padding-block: 50px;
}
.products .title {
  text-transform: uppercase;
  text-align: center;
}
.products .title:not(:last-child) {
  -webkit-margin-after: 35px;
          margin-block-end: 35px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  gap: 30px;
}

.card {
  color: #856f57;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
}
.card__content {
  padding: 30px 15px;
  display: grid;
  row-gap: 0.9375rem;
}
.card__content h3 {
  font-weight: 700;
}
.card img {
  aspect-ratio: 1;
  border-radius: 30px;
  background-color: #d9cfc3;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__info {
  padding-block: 50px;
}
.contacts__list {
  max-width: 700px;
  margin-inline: auto;
  display: grid;
  row-gap: 1.875rem;
}
.contacts__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contacts__time {
  display: grid;
  row-gap: 0.5rem;
}

.delivery__info {
  padding-block: 50px;
}
.delivery__container {
  max-width: 900px;
  margin-inline: auto;
  display: grid;
  row-gap: 1.875rem;
}
.delivery__block {
  display: grid;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 31.2488em) {
  .delivery__block {
    grid-template-columns: 1fr;
    row-gap: 0.9375rem;
    -webkit-padding-after: 20px;
            padding-block-end: 20px;
    -webkit-border-after: 1px solid #d9cfc3;
            border-block-end: 1px solid #d9cfc3;
  }
}
.delivery__block h3 {
  font-weight: 700;
  color: #ffdfbf;
}
.delivery__block ul {
  display: grid;
  row-gap: 0.5rem;
}

.not-found {
  min-height: 100svh;
  padding-block: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.not-found__container {
  display: grid;
  row-gap: 1.875rem;
  text-align: center;
}
.not-found__image {
  max-width: 500px;
  aspect-ratio: 1/1.5;
  width: 100%;
}
.not-found__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer {
  background-color: #87684a;
  padding-block: 1.875rem;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 31.2488em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}
.socials__link svg path {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .socials__link svg:hover {
    color: #fff;
  }
}