:root[data-theme=light] {
  --main-text-color: #fff;
  --opacity-bg: rgba(161, 161, 161, 0.8);
  --toggle-bg: #a3eaff7e;
  --toggle-circle: #fffac0;
  --button-bg: #0091b9;
  --button-bg-hover: #006e8d;
  --menu-bg: #0091b9;
}

:root[data-theme=dark] {
  --main-text-color: #aeaeae;
  --opacity-bg: rgba(30, 30, 30, 0.8);
  --toggle-bg: #2d4c567e;
  --toggle-circle: #00ccd7;
  --button-bg: #013f51;
  --button-bg-hover: #002934;
  --menu-bg: #013f51;
}

.hero {
  min-height: 80svh;
  -ms-flex-line-pack: center;
      align-content: center;
}
.hero__container {
  padding-block: 1.875rem;
}
.hero__container > *:not(:last-child) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.hero p {
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  font-size: 1.25rem;
}
.hero h1 {
  font-size: 2.6875rem;
  max-width: 31.25rem;
  line-height: 1.3;
  text-transform: uppercase;
}
.hero ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.25rem;
}
.hero ul li {
  padding: 0.6875rem;
  border-radius: 0.75rem;
  border: 3px solid var(--main-text-color);
  background: var(--opacity-bg);
  -webkit-box-shadow: 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02);
}
.hero ul li img {
  border-radius: 0.75rem;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero ul li img:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}enter;
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 9.375rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    background-color: var(--menu-bg);
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5;
    height: 5rem;
    width: 100%;
    background-color: var(--menu-bg);
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }
}
.menu.menu--open {
  right: 0;
}
.menu.menu--open::before {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 0.3125rem;
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.menu__link {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 2rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .menu__link:hover {
    color: #cefef0;
  }
}

.footer {
  padding-block: 1.875rem;
}
.footer__container {
  text-align: center;
}
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.theme-toggle input:checked + span::before {
  -webkit-transform: translateX(1.25rem);
      -ms-transform: translateX(1.25rem);
          transform: translateX(1.25rem);
}
.theme-toggle svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo {
  position: relative;
  z-index: 5;
  max-width: 3.125rem;
  width: 100%;
  aspect-ratio: 1;
}
.list {
  display: grid;
  row-gap: 0.9375rem;
}

.card {
  display: grid;
  grid-template-columns: 15.625rem 3fr 1fr;
  gap: 1.25rem;
  padding: 15px;
  border-radius: 12px;
  border: 3px solid var(--main-text-color);
  background: var(--opacity-bg);
  -webkit-box-shadow: 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02);
}
@media (max-width: 47.99875em) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 31.24875em) {
  .card {
    grid-template-columns: 1fr;
  }
}
.card__content {
  display: grid;
  row-gap: 0.5rem;
}
.card img {
  border-radius: 12px;
  border: 3px solid var(--main-text-color);
  aspect-ratio: 2/1;
}
@media (max-width: 47.99875em) {
  .card img {
    grid-column: 1/-1;
  }
}
.card button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.75rem 1.5rem;
  border: 0.1875rem solid var(--main-text-color);
  border-radius: 0.75rem;
  background-color: var(--button-bg);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.card button:hover {
  background-color: var(--button-bg-hover);
}

.title {
  font-size: 2rem;
  text-align: center;
}

.buses,
.hotels,
.order {
  padding-block: 3.125rem;
}
.buses .title,
.hotels .title,
.order .title {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}

.order .list:not(:last-child) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.order h3 {
  font-size: 1.25rem;
  text-align: center;
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}

/* Chrome, Edge, Safari */
.scrollable {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-light-gray);
}

/* Webkit (Chrome, Safari) */
.scrollable::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
  border: none;
}

.scrollable::-webkit-scrollbar-track {
  background: var(--color-light-gray);
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}text-align: center;
}
.not-found__image {
  max-width: 500px;
  aspect-ratio: 1/1.5;
  width: 100%;
}
.not-found__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer {
  background-color: #87684a;
  padding-block: 1.875rem;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 31.2488em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}
.socials__link svg path {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .socials__link svg:hover {
    color: #fff;
  }
}
}

.filters-cnt {
  display: grid;
  row-gap: 15px;
}

.game-cnt {
  max-width: 300px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game-cnt input {
  text-align: center;
}

li {
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

li.red {
  border: 3px solid red;
}

li.blue {
  border: 3px solid blue;
}

li.green {
  border: 3px solid green;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
}px solid green;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
}tent: "";
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5;
    height: 5rem;
    width: 100%;
    background-color: var(--menu-bg);
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
  }
}
.menu.menu--open {
  right: 0;
}
.menu.menu--open::before {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 0.3125rem;
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.menu__link {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 2rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .menu__link:hover {
    color: #cefef0;
  }
}

.footer {
  padding-block: 1.875rem;
}
.footer__container {
  text-align: center;
}

@media (min-width: 767.98px) {
  .menu-icon {
    display: none;
  }
}
.menu-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
  content: "";
  position: absolute;
  height: 1.3px;
  width: 100%;
  background-color: var(--main-text-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
}

.menu-icon span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon span::before {
  top: -8px;
}

.menu-icon span::after {
  bottom: -8px;
}

.menu-icon.active span {
  background: transparent;
}

.menu-icon.active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.menu-icon.active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

.hero {
  min-height: 80svh;
  -ms-flex-line-pack: center;
      align-content: center;
}
.hero__container {
  padding-block: 1.875rem;
}
.hero__container > *:not(:last-child) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.hero p {
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  font-size: 1.25rem;
}
.hero h1 {
  font-size: 2.6875rem;
  max-width: 31.25rem;
  line-height: 1.3;
  text-transform: uppercase;
}
.hero ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.25rem;
}
.hero ul li {
  padding: 0.6875rem;
  border-radius: 0.75rem;
  border: 3px solid var(--main-text-color);
  background: var(--opacity-bg);
  -webkit-box-shadow: 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 64.018px 76.822px 80px 0px rgba(0, 0, 0, 0.07), 41.493px 49.792px 46.852px 0px rgba(0, 0, 0, 0.05), 24.659px 29.591px 25.481px 0px rgba(0, 0, 0, 0.04), 12.804px 15.364px 13px 0px rgba(0, 0, 0, 0.04), 5.216px 6.26px 6.519px 0px rgba(0, 0, 0, 0.03), 1.186px 1.423px 3.148px 0px rgba(0, 0, 0, 0.02);
}
.hero ul li img {
  border-radius: 0.75rem;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero ul li img:not(:last-child) {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}   transform: translateY(3px);
}
.data-cnt li a {
  display: grid;
  row-gap: 0.9375rem;
}

.data-header {
  display: grid;
  grid-template-columns: 50px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.data-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.data-header p {
  color: #d0ffdb;
}
.data-header p:not(:last-child) {
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
}
.data-header span {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}
.data-header span:hover {
  color: #d0ffdb;
}

.data-body {
  display: grid;
  row-gap: 0.9375rem;
}

.kitchen-cnt {
  display: grid;
  row-gap: 25px;
}
.kitchen-cnt > div:first-child {
  display: grid;
  row-gap: 25px;
  padding: 30px;
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
}
.kitchen-cnt > div:first-child h3 {
  color: #d0ffdb;
  font-size: 24px;
}

.kitchen-menu {
  display: grid;
  row-gap: 10px;
}
.kitchen-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
  -webkit-box-shadow: -12px -12px 24px 0px #414141, 12px 12px 24px 0px #1E1E1E, -4px -4px 8px 0px rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0px #1E1E1E inset;
          box-shadow: -12px -12px 24px 0px #414141, 12px 12px 24px 0px #1E1E1E, -4px -4px 8px 0px rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0px #1E1E1E inset;
}

.input-cnt {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (min-width: 767.98px) {
  .input-cnt {
    grid-template-columns: auto 1fr auto;
  }
}
.input-cnt > label {
  display: inline-block;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.result-cnt {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 15px;
}

.dishes-cnt {
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
  padding: 30px;
}
.dishes-cnt h3 {
  color: #d0ffdb;
  font-size: 24px;
}
.dishes-cnt h3:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
.dishes-cnt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding-block: 15px;
}
.dishes-cnt li:not(:last-child) {
  border-bottom: 1px solid #d0ffdb;
}
.dishes-cnt li h4 {
  color: #d0ffdb;
}