.body-white {
  background-color: #ffffff;
  color: #000029;
}

.body-blue {
  background-color: #0000ff;
}

.body-green {
  background-color: #00ff00;
}

.body-red {
  background-color: #ff0000;
}

.header {
  padding-block: 1.875rem;
}

.menu {
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
  border-radius: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.625rem;
}

main {
  display: grid;
  row-gap: 15px;
}

.main-cnt, .task-cnt {
  padding: 1.875rem;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
  display: grid;
  row-gap: 15px;
}lor: #ffdd99;
    opacity: 0.75;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(0, 0, 0, 0.4), inset -6px -6px 12px rgba(255, 198, 123, 0.08);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(0, 0, 0, 0.4), inset -6px -6px 12px rgba(255, 198, 123, 0.08);
    -webkit-transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
    transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease;
    transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  }
}
button:focus {
  outline: 1px solid #ffdd99;
  outline-offset: 2px;
  opacity: 0.75;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(0, 0, 0, 0.4), inset -6px -6px 12px rgba(255, 198, 123, 0.08);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(0, 0, 0, 0.4), inset -6px -6px 12px rgba(255, 198, 123, 0.08);
  -webkit-transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
}
button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

input, select {
  padding: 15px;
  border: 1px solid #b3621c;
  border-radius: 13px;
  font: inherit;
  background-color: #7a3e00;
  color: #fff;
  width: 100%;
}
input:focus-visible, select:focus-visible {
  outline: 1px solid #ffdd99;
  outline-offset: 2px;
  opacity: 0.75;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(0, 0, 0, 0.4), inset -6px -6px 12px rgba(255, 198, 123, 0.08);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), inset 6px 6px 12px rgba(0, 0, 0, 0.4), inset -6px -6px 12px rgba(255, 198, 123, 0.08);
  -webkit-transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease;
  transition: box-shadow 0.5s ease, color 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.5s ease;
}

label {
  display: inline-block;
}
label:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

td {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.task-cnt ul {
  margin-left: 30px;
}
.task-cnt ul li {
  list-style-type: lower-latin;
}

*::-webkit-input-placeholder {
  color: #ffdd99;
  opacity: 0.7;
}

*::-moz-placeholder {
  color: #ffdd99;
  opacity: 0.7;
}

*:-ms-input-placeholder {
  color: #ffdd99;
  opacity: 0.7;
}

*::-ms-input-placeholder {
  color: #ffdd99;
  opacity: 0.7;
}

*::placeholder {
  color: #ffdd99;
  opacity: 0.7;
}

.speed {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4), -6px -6px 12px rgba(255, 198, 123, 0.08), inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(255, 255, 255, 0);
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4), -6px -6px 12px rgba(255, 198, 123, 0.08), inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(255, 255, 255, 0);
}
.speed input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  font-size: 32px;
  text-align: center;
}
.speed input[type=number]::-webkit-outer-spin-button,
.speed input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.speed input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
          appearance: none;
}

.blink {
  font-weight: 700;
  color: red;
  -webkit-animation: blinker 1.5s linear infinite;
          animation: blinker 1.5s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.athletes-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
}
.athletes-cnt ul {
  padding: 15px;
  display: grid;
  align-self: start;
  row-gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
}
.athletes-cnt li {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 5px;
}
.athletes-cnt li button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.dance-cnt, .translator-cnt {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
}
.dance-cnt ul, .translator-cnt ul {
  padding: 15px;
  display: grid;
  align-self: start;
  row-gap: 15px;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
}
.dance-cnt li, .translator-cnt li {
  padding: 10px;
  border: 1px solid #b3621c;
  cursor: pointer;
}
.dance-cnt button, .translator-cnt button {
  grid-column: 1/-1;
}

.chosen ul {
  padding: 15px;
  display: grid;
  align-self: start;
  row-gap: 15px;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
}
.chosen li {
  padding: 10px;
  border: 1px solid #b3621c;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.employee-list {
  padding: 15px;
  display: grid;
  row-gap: 15px;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 198, 123, 0.1);
}

.filters-cnt {
  display: grid;
  row-gap: 15px;
}

.game-cnt {
  max-width: 300px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game-cnt input {
  text-align: center;
}

li {
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

li.red {
  border: 3px solid red;
}

li.blue {
  border: 3px solid blue;
}

li.green {
  border: 3px solid green;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
}px solid green;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
}-webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.employee-list {
  padding: 15px;
  display: grid;
  row-gap: 15px;
  -webkit-box-shadow: 8px 8px 16px rgba(20, 10, 40, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
          box-shadow: 8px 8px 16px rgba(20, 10, 40, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
}

.filters-cnt {
  display: grid;
  row-gap: 15px;
}

.game-cnt {
  max-width: 300px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game-cnt input {
  text-align: center;
}

li {
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

li.red {
  border: 3px solid red;
}

li.blue {
  border: 3px solid blue;
}

li.green {
  border: 3px solid green;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
}

.body-white {
  background-color: #ffffff;
  color: #000029;
}

.body-blue {
  background-color: #0000ff;
}

.body-green {
  background-color: #00ff00;
}

.body-red {
  background-color: #ff0000;
}

.header {
  padding-block: 1.875rem;
}

.menu {
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: 8px 8px 16px rgba(20, 10, 40, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
          box-shadow: 8px 8px 16px rgba(20, 10, 40, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
  border-radius: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.625rem;
}

main {
  display: grid;
  row-gap: 15px;
}

.main-cnt, .task-cnt {
  padding: 1px;
  -webkit-box-shadow: 8px 8px 16px rgba(20, 10, 40, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
          box-shadow: 8px 8px 16px rgba(20, 10, 40, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
  display: grid;
  row-gap: 15px;
}d0ffdb;
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
}

.answer {
  display: grid;
  row-gap: 15px;
  align-self: start;
}
.answer p {
  color: #d0ffdb;
}

.quiz-actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.quiz-actions .button {
  width: 100%;
}

.green {
  -webkit-filter: drop-shadow(1px 1px 15px green);
          filter: drop-shadow(1px 1px 15px green);
}

.red {
  -webkit-filter: drop-shadow(1px 1px 15px red);
          filter: drop-shadow(1px 1px 15px red);
}

.list-cnt {
  padding: 0.9375rem 1.25rem;
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
}
.list-cnt > *:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

.task-img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.data-cnt ul {
  display: grid;
  row-gap: 0.9375rem;
}
.data-cnt li {
  padding: 0.9375rem;
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.data-cnt li:hover {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
.data-cnt li a {
  display: grid;
  row-gap: 0.9375rem;
}

.data-header {
  display: grid;
  grid-template-columns: 50px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.data-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.data-header p {
  color: #d0ffdb;
}
.data-header p:not(:last-child) {
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
}
.data-header span {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}
.data-header span:hover {
  color: #d0ffdb;
}

.data-body {
  display: grid;
  row-gap: 0.9375rem;
}

.kitchen-cnt {
  display: grid;
  row-gap: 25px;
}
.kitchen-cnt > div:first-child {
  display: grid;
  row-gap: 25px;
  padding: 30px;
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
}
.kitchen-cnt > div:first-child h3 {
  color: #d0ffdb;
  font-size: 24px;
}

.kitchen-menu {
  display: grid;
  row-gap: 10px;
}
.kitchen-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
  -webkit-box-shadow: -12px -12px 24px 0px #414141, 12px 12px 24px 0px #1E1E1E, -4px -4px 8px 0px rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0px #1E1E1E inset;
          box-shadow: -12px -12px 24px 0px #414141, 12px 12px 24px 0px #1E1E1E, -4px -4px 8px 0px rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0px #1E1E1E inset;
}

.input-cnt {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (min-width: 767.98px) {
  .input-cnt {
    grid-template-columns: auto 1fr auto;
  }
}
.input-cnt > label {
  display: inline-block;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.result-cnt {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 15px;
}

.dishes-cnt {
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
  padding: 30px;
}
.dishes-cnt h3 {
  color: #d0ffdb;
  font-size: 24px;
}
.dishes-cnt h3:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
.dishes-cnt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding-block: 15px;
}
.dishes-cnt li:not(:last-child) {
  border-bottom: 1px solid #d0ffdb;
}
.dishes-cnt li h4 {
  color: #d0ffdb;
}}

.dishes-cnt {
  -webkit-box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
          box-shadow: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
  padding: 30px;
}
.dishes-cnt h3 {
  color: #d0ffdb;
  font-size: 24px;
}
.dishes-cnt h3:not(:last-child) {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
.dishes-cnt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding-block: 15px;
}
.dishes-cnt li:not(:last-child) {
  border-bottom: 1px solid #d0ffdb;
}
.dishes-cnt li h4 {
  color: #d0ffdb;
}