$accentTextColor: #d0ffdb;
$primaryTextColor: #fff;
$primaryBgColor: #333;
$borderColor: #1E1E1E;
$boxShadow: -12px -12px 24px 0px #3E3E3E, 12px 12px 24px 0px #1E1E1E;
$boxShadowInset: 12px 12px 24px 0px #3E3E3E inset, -12px -12px 24px 0px #1E1E1E inset;
$boxShadowInput: -12px -12px 24px 0px #3E3E3E inset, 12px 12px 24px 0px #1E1E1E inset;
$boxShadowOuter: -10px -10px 20px 0px #3C3C3C, 10px 10px 20px 0px #1E1E1E, -4px -4px 8px 0px rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0px #1E1E1E inset;
$boxShadowBorder: -12px -12px 24px 0px #414141, 12px 12px 24px 0px #1E1E1E, -4px -4px 8px 0px rgba(77, 77, 77, 0.25) inset, 4px 4px 8px 0px #1E1E1E inset;
