@use "../base/variables" as *;
@use "../base/mixins" as *;

.kitchen-cnt {
	display: grid;
	row-gap: 25px;

	& > div:first-child {
		display: grid;
		row-gap: 25px;
		padding: 30px;
		box-shadow: $boxShadowInset;

		h3 {
			color: $accentTextColor;
			font-size: 24px;
		}
	}
}
.kitchen-menu {
	display: grid;
	row-gap: 10px;

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;

		padding: 15px;
		box-shadow: $boxShadowBorder;
	}
}
.input-cnt {
	display: grid;
	align-items: center;
	gap: 15px;

	@media (min-width: 767.98px) {
		grid-template-columns: auto 1fr auto;
	}

	& > label {
		display: inline-block;
		margin-block-end: 0;
	}
}
.result-cnt {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
	gap: 15px;
}
.dishes-cnt {
	box-shadow: $boxShadowInset;
	padding: 30px;

	h3 {
		color: $accentTextColor;
		font-size: 24px;

		&:not(:last-child) {
			margin-block-end: 15px;
		}
	}

	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;

		padding-block: 15px;
		&:not(:last-child) {
			border-bottom: 1px solid $accentTextColor;
		}

		h4 {
			color: $accentTextColor;
		}
	}
}