@use '../base/variables' as *;
@use '../base/mixins' as *;

.tickets-cnt {
	position: relative;
	padding: clamp(0.938rem, 2.796vw - 0.856rem, 2.5rem);
	box-shadow: $boxShadowOuter;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
	column-gap: 3.125rem;
	row-gap: 0.9375rem;
	&::before {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&.business-img {
		background: url('/img/business-bg.jpg') center / cover no-repeat;
		&::before {
			content: '';
		}
	}
	&.econom-img {
		background: url('/img/clouds.jpg') center / cover no-repeat;
		&::before {
			content: '';
		}
	}
}
.selects-cnt {
	position: relative;
	z-index: 5;
	display: grid;
	row-gap: 15px;
	button {
		@include btnStyles;
		@include center;
	
		&:hover{
			@include btnHover;
		}

		&:focus {
			@include focus;
		}
	}
}