@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,700&display=swap");
/* ------------------------------------------------------ */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: none;

	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
html,
body {
	line-height: 1;
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* FORM */
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
button,
select,
option {
	cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	appearance: none;
}
/* ------------------------------------------------------ */
body {
	font-family: "Montserrat", sans-serif;
	line-height: 1.3;
	color: #2d0900;
	background-color: #ec8d6b;
}
#root {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
}
[class*="container"] {
	max-width: 84.375rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.title {
	font-size: clamp(1.5rem, 1.25vw + 1.25rem, 2.75rem);
	font-weight: 700;
	text-align: center;
}
.subtitle {
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	color: #005a6e;
}
.text {
	p {
		line-height: 1.5;
		&:not(:last-child) {
			margin-block-end: 0.9375rem;
		}
	}
}
.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5rem;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 44px;
	background-color: #005a6e;
	border-radius: 50px;
	color: #ffe5b1;
	transition: background-color 0.3s ease-in-out;

	&:disabled {
		opacity: 0.5;
	}

	@media (any-hover: hover), (pointer: fine) {
		&:hover {
			background-color: #003c49;
		}
		&:hover:disabled {
			opacity: 0.5;
			background-color: #005a6e;
			cursor: not-allowed;
		}
	}

	@media (max-width: 767.98px) {
		width: 100%;
	}
}
.button--edit {
	background-color: #ec8d6b;
	@media (any-hover: hover), (pointer: fine) {
		&:hover {
			background-color: #b06144;
		}
	}
}
.button--delete {
	background-color: #f44f49;
	@media (any-hover: hover), (pointer: fine) {
		&:hover {
			background-color: #771613;
		}
	}
}
/* ------------------------------------------------------ */
.header,
.footer {
	min-height: 8svh;
	padding-block: 5px;
	background-color: #005a6e;
	color: #fff;
	align-content: center;
}
.header {
	position: sticky;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
}
.menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 5px;
}
.logo {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	column-gap: 15px;

	img {
		width: 35px;
		aspect-ratio: 1;
		object-fit: contain;
	}

	span {
		font-weight: 500;
	}
}
.menu__link {
	transition: color 0.3s ease-in-out;
	@media (any-hover: hover), (pointer: fine) {
		&:hover {
			color: #ec8d6b;
		}
	}

	&.active {
		color: #ec8d6b;
	}
}
@media (max-width: 767.98px) {
	nav {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: #003c49;
		padding: 120px 15px 30px 15px;
		overflow: auto;
		z-index: 0;
		transition: right 0.3s ease;

		&::before {
			content: "";
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 72px;
			background-color: #003c49;
			z-index: 5;
			transition: right 0.3s ease;
		}
	}
	.nav--open {
		right: 0;

		&::before {
			right: 0;
		}
	}
	.menu {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 30px;
	}
	.menu__link {
		font-size: 28px;
	}
}
/* ------------------------------------------------------ */
.footer {
	text-align: center;
}
/* ------------------------------------------------------ */
@media (min-width: 767.98px) {
	.menu-icon {
		display: none;
	}
}
.menu-icon {
	width: 30px;
	height: 24px;
	position: relative;
	cursor: pointer;
	border: none;
	background: transparent;
}
.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
	content: "";
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #ffe5b1;
	transition: all 0.3s ease;
	left: 0;
}
.menu-icon span {
	top: 50%;
	transform: translateY(-50%);
}
.menu-icon span::before {
	top: -10px;
}
.menu-icon span::after {
	bottom: -10px;
}
.menu-icon.active span {
	background: transparent;
}
.menu-icon.active span::before {
	transform: rotate(45deg);
	top: 0;
}
.menu-icon.active span::after {
	transform: rotate(-45deg);
	bottom: 0;
}
/* ------------------------------------------------------ */
.home {
	position: relative;
	min-height: 84svh;
}
.home__container {
	min-height: 84svh;
	display: grid;
	place-content: center;
}
.home__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000000a4;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.home__content {
	position: relative;
	z-index: 5;

	max-width: 900px;
	margin-inline: auto;
	text-align: center;

	color: #fff;

	display: grid;
	row-gap: 15px;

	h1 {
		font-size: clamp(1.5rem, 1.25vw + 1.25rem, 2.75rem);
		font-weight: 700;
	}
}
.home__actions {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 15px;

	@media (max-width: 767.98px) {
		flex-direction: column;
		row-gap: 10px;
	}
}
/* ------------------------------------------------------ */
.about {
	padding-block: 50px;
}
.about__container {
	display: grid;
	row-gap: 15px;
}
.list {
	li {
		background: #003c49;
		color: #fff;
		padding: 10px 15px;
		border-radius: 5px;

		&:not(:last-child) {
			margin-block-end: 10px;
		}
	}
}
.mission {
	font-style: italic;
	background: #ecf0f1;
	padding: 15px;
	border-left: 4px solid #003c49;
}
/* ------------------------------------------------------ */
.teachers,
.meetings {
	padding-block: 3.125rem;
}
.teachers__container,
.meetings__container {
	display: grid;
	row-gap: 30px;
}
.card {
	max-width: 700px;
	margin-inline: auto;
	padding: 20px;
	cursor: pointer;

	display: grid;
	row-gap: 20px;

	background-color: #00252d;
	color: #fff;

	&:not(:last-child) {
		margin-block-end: 20px;
	}
}
.card__body {
	display: flex;
	align-items: center;
	column-gap: 20px;
	@media (max-width: 767.98px) {
		flex-direction: column;
		row-gap: 20px;
		text-align: center;
	}
}
.card__actions, .teachers__actions, .form__actions {
	display: flex;
	align-items: center;
	column-gap: 20px;
	& > * {
		flex-basis: 50%;
	}
	@media (max-width: 767.98px) {
		flex-direction: column;
		row-gap: 20px;
		& > * {
			flex-basis: 100%;
		}
	}
}
.card__image {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}
.card__content {
	display: grid;
	row-gap: 15px;

	span {
		color: #ec8d6b;
	}

	a {
		transition: color 0.3s ease-in-out;
		span {
			transition: color 0.3s ease-in-out;
		}
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				color: #b06144;
				span {
					color: #b06144;
				}
			}
		}
	}

	@media (min-width: 767.98px) {
		margin-inline-end: auto;
	}
}
/* ------------------------------------------------------ */
.not-found {
	min-height: 70svh;
	padding-block: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.not-found__container {
	display: grid;
	row-gap: 1.875rem;
	text-align: center;
}
.not-found__image {
	max-width: 500px;
	aspect-ratio: 1 / 1.5;
	width: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
/* ------------------------------------------------------ */
.teacher {
	padding-block: 50px;
}
.teacher__container {
	display: grid;
	justify-content: center;
	row-gap: 20px;
	text-align: center;
}
.teacher__info {
	display: grid;
	justify-content: center;
	row-gap: 8px;
}
.teacher__photo {
	max-width: 700px;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}
/* ------------------------------------------------------ */
.teacher-form {
	padding-block: 50px;
}
.form {
	display: grid;
	row-gap: 20px;
}

label {
	span {
		display: inline-block;
		font-weight: 500;
		font-style: oblique;
		&:not(:last-child) {
			margin-block-end: 10px;
		}
	}
	input {
		padding: 15px;
		background-color: #005a6e;
		color: #fff;

		&::placeholder {
			color: #eeeeee73;
		}
	}
}