.list {
	display: grid;
	row-gap: 15px;
	li {
		padding-block-end: 15px;
		border-block-end: 1px solid rgba(101, 0, 114, 0.358);
		& > div {
			display: flex;
			align-items: center;
			column-gap: 15px;
			justify-content: space-between;

			@media (max-width: 47.9988em) {
				flex-direction: column;
				align-items: flex-start;
				row-gap: 10px;
			}
		}
	}
}
.actions {
	display: flex;
	column-gap: 10px;

	button {
		display: flex;
		align-items: center;
		column-gap: 5px;
	}
}
.inputCnt {
	display: grid;
	row-gap: 25px;
}
